<!-- Card-->
<div class="card rounded shadow-sm border-0">
    <div class="card-body p-4">
        <a href="{{ product.url | within: collection }}">
            <img src="{{ product.featured_image.src | img_url: 'large' }}"
                alt="{{ product.featured_image.alt | escape }}" class="img-fluid d-block mx-auto mb-3">
        </a>
        <h5> <a href="{{ product.url | within: collection }}" class="text-dark">{{ product.title }}</a></h5>
        <p class="small text-muted font-italic">{{ product.price | money }}</p>
        {% unless product.available %}<br><strong>sold out</strong>{% endunless %}

    </div>
</div>